
body{

background-image:url('../images/background.png');
background-repeat:no-repeat;
background-size: 100% 100%;
}
.container-fluid{

}
.col-md-2{

	
}
.label{

	backgroud-color:#ff0000;
}
.label-default{

	backgroud-color:#ff0000;
}
#wrapper{
width:1200px;
background-color:#ffffff;
padding-top:15px;
top:120px;
margin-left:auto;
margin-right:auto;
}



.navbar{

width:1200px;
height:100px;
margin-left:auto;
margin-right: auto;
}
.nav a {

text-decoration:none;
color:#ffffff;
font-face: ariel;
font-weight:bold;
font-size:22px;
}

.navbar-brand{
text-decoration:none;
color:#ffffff;
font-face: ariel;
font-weight:bold;
font-size:22px;

}

.navbar-form a {

text-decoration:none;
color:#000000;
font-face: ariel;
font-weight:bold;
font-size:15px;
}
.navbar-form a:hover{
text-decoration:none;
	color:#000000;
font-face: ariel;
font-weight:bold;
}
.col-md-1 a {
padding-right: 0px;
border-style:solid;
text-decoration:none;
color:#000000;
font-face: ariel;
font-weight:bold;
font-size:15px;
}
.col-md-12 a {

text-decoration:none;
color:#000000;
font-face: ariel;
font-weight:bold;
font-size:15px;
}
.navbar a div{
float:left;
color:#ffffff;
font-face: ariel;
font-weight:bold;
font-size:20px;
}






p{
font-weight:bold;
font-style:italic;
}



.dropdown{


background-color: #ffffff;
display: none;
box-shadow:3px 3px 3px 3px #000000;
}


.tab{
background-color:#bdbdbd;
opacity: .3;
filter:alpha(opacity=30);
}
.hide{
display:none;

}


.dropdown a{
text-decoration:none;
color:#000000;
}


ul{
list-style:none;

}

.font1{

font-size:20px;
font-face: sans-serif;


}
.font2{
	font-weight:bold;
font-size: 16px;
font-face: arial;
color:#000000;
}

/* this is the styles for the product list */
table tr{
height:150px;
}
table tr td{
height:150px;

}
table{
text-align:left;
}
#products{
width:980px;
height:900px;
overflow-y:scroll;
overflow-x:hidden;
margin-left:200px;
}

figure{
width:150px;

}
figure img{

width:200px;
height:200px;

}
figcaption{
font-size:14px; 
color:#000000;
text-align:left;
width:150px
height:150px;
}



/* this is the footer */

#footer_menu {
	
margin-top:20px;
color:#ffffff;
width:1180px;
height:200px;
margin-left:auto;
margin-right:auto;

box-shadow:0px 0px 8px 0px #000000;
}



#footer_menu div{
float:left;
width:300px;
height:200px;

}
 #footer_menu p{
font-size:20px;
font-face: sans-serif;

}
#footer_menu ul{
font-size: 16px;
font-face: arial;
color:#ffffff;
}

#howmanytoshow{
position:relative;
left:700px;

}
