
body{

background-color:#000000;
}
.bgimages{

width: 100%;
height:100%;
overflow: hidden;
position: absolute;
z-index: -1;
}
.bgimages img{

	width:100%;
	height:100%;
	z-index: -1;
	opacity: .4;
	filter:alpha(opacity=40);
}

#logo{



text-align: center;
opacity: .3;
filter:alpha(opacity = 30);

}
#logo img{


}
#enter{


text-align: center;
font-size:40px;
font-face:ariel;

}
#enter a{
 text-decoration:none;
color:#ffffff;



}


